a {
  display: block;
  color: white;
  text-decoration: none;
}

.heading {
  display: flex;
  justify-content: center;
}

.select-button {
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }

.container{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}
