<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/display_provider.css') }}">
</head>
<body>
    <div class="provider-block">
        <!-- {% block provider %}{% endblock %} -->
        {% for provider in provider_data %}
            <div class="provider">
            <h3 class="provider-details"> {{ provider }} </h3>
                {% for values in provider_data[provider] %}
                <div class="provider-details">
                    <h4>{{ values }}</h4><h4>{{ provider_data[provider][values] }}</h4>
                </div>
                {% endfor %}
            </div>
                <br>
            
            
        {% endfor %}
    </div>
</body>
</html>