<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/creation_form.css') }}">
</head>
<body>
    <div class="form-container">
        <form action="/update_provider" method="POST">
            <div class="form-fields">
                <label class="labels" for="provider_id">provider ID</label>
                <input class="input-fields" type="text" name="provider_id" value="{{ provider_id }}" required>
            </div>
            <div class="form-fields">
                <label class="labels" for="name">Name</label>
                <input class="input-fields" type="text" name="name" value="{{ provider_data['name'] }}" required>
            </div>
            <div class="form-fields">
                <label class="labels" for="qualification">Qualification</label>
                <input class="input-fields" type="text" name="qualification" value="{{ provider_data['qualification'] }}" required>
            </div>
            <div class="form-fields">
                <label class="labels" for="speciality">Speciality</label>
                <input class="input-fields" type="text" name="speciality" value="{{ provider_data['speciality'] }}" required>
            </div>
            <div class="form-fields">
                <label class="labels" for="phone">Phone</label>
                <input class="input-fields" type="text" name="phone" value="{{ provider_data['phone'] }}" required>
            </div>
            <div class="form-fields">
                <label class="labels" for="department">Department</label>
                <input class="input-fields" type="text" name="department" value="{{ provider_data['department'] }}">
            </div>
            <div class="form-fields">
                <label class="labels" for="organization">Organization</label>
                <input class="input-fields" type="text" name="organization" value="{{ provider_data['organization'] }}">
            </div>
            <div class="form-fields">
                <label class="labels" for="location">Location</label>
                <input class="input-fields" type="text" name="location" value="{{ provider_data['location'] }}">
            </div>
            <div class="form-fields">
                <label class="labels" for="address">Address</label>
                <input class="input-fields" type="text" name="address" value="{{ provider_data['address'] }}" required>
            </div>
            <div class="form-fields">
                <label class="labels" for="active">Active</label>
                <input class="input-fields" type="text" name="active" value="{{ provider_data['active'] }}" value="True" required>
            </div>
            <div class="submit">
                <button type="submit">Update</button>
            </div>
        </form>
    </div>
</body>
</html>